<h1>EventOnly</h1>

<p>
  <%= link_to 'New Location', new_location_path %>
</p>

<!-- Rails also knows that if we ask it to render a collection of Location objects, it should iterate over that collection and call render on each object.  -->

<%= render @locations %> 


<!-- <% @locations.each do |location| %>
  <%= render 'location', location: location %>
<% end %>  -->
